*{
    padding: 0;
    margin: 0;
}
header{
    background-color: aquamarine;
display: flex;
justify-content: space-between;
align-items: center;
padding: 10px;
}
header a {
    color: brown;
    text-decoration: none;
    margin: 0 30px;
    font-size: 19px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
    

footer{
background-color: rgb(226, 29, 29);
}
header button{
    background-color: chartreuse;
    color: darkblue;
    border-radius: 20px;
    border:none;
    transition: 700ms;
}
header-color:hover{
    background-color: darkgreen;
    transform: scale(1.1);
}
button a{
    color:darkseagreen
}
.hero{
    min-height: 105vh;
    background-image:linear-gradient(to top, #000, rgba(0, 0, 0, 0)) , url(qqq.webp);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.hero p{
    max-width: 700px;
    color: deeppink;
    front-size: 20px;
}
h1{
    color: ghostwhite;
    margin-bottom: 30px;
}


